@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@layer reset, base, components, utilities, properties, layout, layout-navbar, layout-prose, layout-content;

@layer layout {
  * {
    box-sizing: border-box !important;
    font-family:
      'Inter', 'Figtree', 'IBM Plex Mono', 'DM Sans', 'Source Code Pro', sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
  }

  .special-title {
    font-family:
      'Inter', 'Figtree', 'IBM Plex Mono', 'DM Sans', 'Source Code Pro', sans-serif !important;
  }

  .force-gpu {
    /* Force all elements to be GPU rendered */
    transform: translateZ(0);
    will-change: transform, opacity;
  }

  body {
    background-color: black;
  }

  *::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
  }

  *::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, 0.356);
  }

  *::-webkit-scrollbar-track:active {
    background-color: #00000010;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: rgb(9, 0, 128);
  }

  *::-webkit-scrollbar-thumb:active {
    background-color: blue;
  }
}
